
.propiedades-grid {
  display: grid;
  
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px 60px;
  padding: 16px;

  justify-items: center;

  background-color: #f3f3f3af;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  padding: 3rem;
  border-radius: 15px;
}
  

.mensaje-vacio {
  grid-column: 1 / -1;
  /*text-align: center;*/
  font-size: 1rem;
  color: #666;
}

.propiedad-card {
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  transition: all 0.3s ease;
  background-color: #fff;
}

.propiedad-card:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.propiedad-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

.propiedad-nombre {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 12px;
}

.propiedad-tipo {
  font-size: 0.9rem;
  color: #555;
  margin-top: 4px;
}

.contenedor-propiedades {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.barra-superior {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin-bottom: 2rem;
}

.barra-superior div{
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.circulo-mas {
  position: absolute;
  right: 0px; /* Ajusta según lo lejos que lo quieras */
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-terciario);
  color: var(--color-blanco);
  font-weight: bold;
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
}


.boton-flotante {
  position: fixed;
  bottom: 4rem;
  left: 55%;
  transform: translateX(-50%);
  background-color: var(--color-primario);
  color: white;
  border: none;
  padding: 12px 52px 12px 20px;
  font-size: 1.2rem;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.33);
  transition: background-color 0.3s ease, transform 0.2s ease;
  max-width: 90vw;
  white-space: nowrap;
}

.boton-flotante:hover {
  background-color: var(--color-primario-hover); /* Puedes ajustar este tono si quieres */
  transform: translateX(-50%) scale(1.15);
}


