.tiempo-actual-contenedor {
  padding: 10px;
  border-radius: 18px;
  width: 220px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  background-color: #59c36940;
  margin: 0 auto;
  text-align: center;
}

.tiempo-actual-principal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px; 
  margin-bottom: 8px;
  background-color: #d2efd7;
  border-radius: 25px;
}

.tiempo-actual-detalles{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

.viento{
  position: relative;
  bottom: 3px;
}

.tiempo-actual-detalles .icono-viento{
  position: relative;
  top: 5px;
  font-size: 16px;
  color: #555;
}

.tiempo-actual-temperatura {
  font-size: 32px;
  font-weight: bold;
}

.tiempo-actual-icono-contenedor {
  position: relative;
  display: inline-block;
}

.tiempo-actual-icono {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.tiempo-actual-hover-texto {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.95);
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 13px;
  color: #333;
  white-space: nowrap;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 10;
  pointer-events: none;
}

.tiempo-actual-dia {
  font-size: 18px;
  font-weight: 500;
  color: #555;
}

.tiempo-actual-mensaje {
  text-align: center;
  justify-content: center;
  font-size: 16px;
  color: #777;
  font-family: Arial, sans-serif;

  max-width: 400px;
  margin: 0 auto;
  word-wrap: break-word;
  white-space: normal;
}

