.cuadro-busqueda {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  width: 99%;
  background-color: white;
}

.icono-lupa {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.input-busqueda {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
}
