.cuadro-agricultor {
  display: flex;
  align-items: center;
  justify-self: center;
  background-color: #fefefe;
  border: 1px solid #ddd;
  border-radius: 12px;
  margin-bottom: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin-top: 1rem;
  padding: 2rem;
}

.foto-perfil-vista-coop {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 16px;
  border-radius: 50%;
  border: 2px solid var(--color-primario);
}
.foto-perfil-vista-coop img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.info-agricultor {
  flex: 1;
}

.info-agricultor h3 {
  margin: 0 0 8px;
  color: #333;
}

.info-agricultor p {
  margin: 4px 0;
  color: #555;
}
.botones-agricultor {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-right: 10px;
}

.boton-agricultor {
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 20%;
  font-size: 18px;
  color: white;
  cursor: pointer;
  padding-top: 6px;
  transition: background 0.3s;
}

.boton-agricultor.añadir {
  background-color: var(--color-primario);
  /*background-color: #4caf50;*/
}

.boton-agricultor.añadir:hover {
  background-color: var(--color-primario-hover);
}

.boton-agricultor.eliminar {
  background-color: #ffffff;
  color:#f44336;
  border-color: #f44336;
  border-style: solid;
}

.boton-agricultor.eliminar:hover {
  background-color: #d32f2f;
  border-color: #d32f2f;
  color:white;
}
