.resultado-busqueda {
  overflow-y:scroll;
  width: 100%;
  margin-top: 16px;
  background-color: rgb(157, 208, 148);
  border-radius: 0.5rem;
  max-height: 30rem;
}

.no-agricultores-encontrados{
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
  color: #333;
}
