@import '../index.css';

.menu-lateral {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  background-color: var(--color-fondo-menu);
  border-right: 1px solid var(--color-borde-menu);
  box-shadow: 2px 0 8px var(--color-sombra-menu);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.menu-lateral.cerrado {
  transform: translateX(-100%);
}

.menu-lateral.abierto {
  transform: translateX(0);
}

.cabecera-menu-lateral {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px;
  height: 70px;
}

.logo-menu {
  height: 120%;
  object-fit: contain;
  flex: 1;
}



.separador-horizontal {
  border: none;
  height: 1px;
  background-color: var(--color-separador);
  margin: 0 12px 10px;
}

.contenedor-botones {
  display: flex;
  flex-direction: column;
  padding: 0px;
  overflow-y: auto;
}

/* Botones de abajo */

.menu-abajo {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 55px;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background-color: var(--color-fondo-menu);
  border-top: 1px solid var(--color-borde-menu); /* Se puede eliminar */
}

.contenedor-boton-cerrar-sesion-agricultor{
    position: absolute;
  right: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  border: 3px solid rgb(224, 224, 224);
  padding: 0 2rem 0 0;
  color: rgb(207, 2, 2);
}

.boton-simple {
  background-color: var(--color-priamrio);
  border: none;
  color: var(--color-blanco);
  font-size: 20px;
  cursor: pointer;
  border-radius: 14px;
  transition: background-color 0.2s ease-in-out;
}

.boton-simple:hover {
  background-color: var(--color-primario-hover);
}

.boton-simple.cuadrado {
  width: 45px;
  height: 45px;
}

.boton-simple img {
  margin-top: 11%;
  margin-right: 8%;
  width: 25px;
  height: 25px;
  transition: filter 0.2s ease-in-out;
}

.boton-simple.cerrar-sesion {
  background-color: var(--color-transparente);
}

.boton-simple.cerrar-sesion:hover {
  background-color: var(--color-warning);
}

.boton-simple.cerrar-sesion:hover img {
  filter: brightness(0) invert(1);
}

.boton-toggle-flotante {
  position: fixed;
  top: 72px;
  z-index: 1100;

  width: 34px;
  height: 34px;
  
  background-color: var(--color-primario);
  border: 2px solid var(--color-primario-hover);
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  transition:
    left 0.3s ease-in-out,
    width 0.3s ease,
    height 0.3s ease;
}

.icono-flecha {
  height: 28px;
  width: 28px;
  /*filter: invert(43%) sepia(9%) saturate(4368%) hue-rotate(37deg) brightness(87%) contrast(79%);*/
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  display: block;
    transition:
    transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    width 0.3s ease,
    height 0.3s ease;
  transform: rotate(180deg);

}

.icono-flecha.rotada {
  transform: rotate(0deg);
    width: 22px;
  height: 22px;
}

.boton-toggle-flotante.abierto {
  left: 240px;

}

.boton-toggle-flotante.cerrado {
  left: 25px;
  width: 42px;
  height: 42px;
}
